body,
html {
    background: linear-gradient(90deg, rgba(149, 149, 149, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(162, 162, 162, 1) 100%);
}

a {
    text-align: center;
    color: black;
}

h3 {
    font-family: 'Lalezar', cursive;
}

a:hover {
    color: grey;
}

.divBotons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 1em;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.card-body {
    background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/recursos/puzzleBN.jpg");
}