.titol {
    font-family: 'Russo One', sans-serif;
    margin-bottom: 2em;
}

.titol>h1 {
    font-size: 4em;
}

img {
    border-radius: 20%;
}

.venbinguda {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.imatge {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.imatge>img {
    width: 90%;
    height: auto;
    border: 2px solid black;
}

.opcions,
.btn {
    margin-top: 2em;
}

.btn {
    height: 6em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

h3 {
    font-family: 'Limelight', cursive;
}