a {
    text-align: center;
    color: black;
}

a:hover {
    color: grey;
}

.pieza {
    width: 1.5em;
    height: 1.5em;
}

.nomEmpresa {
    text-decoration: underline;
}

.btn {
    margin: 0.3em;
}
